<<<<<<< HEAD
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#3e8ea3;
}

.container{
    width:80%;
    margin:40px auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.formulario{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

input{
    flex:1;
    padding:10px;
}

button{
    padding:10px 20px;
    cursor:pointer;

}

table{
    width:100%;
    border-collapse:collapse;
}

th,
td{
    border:1px solid #ccc;
    padding:10px;
    text-align:center;
}

th{
    background:#eee;
}
=======
/* Caso queira utilizar framework como Bootstrap para estilização, pode utilizar. Basta ignoar esse arquivo */
>>>>>>> cdd2088af486cdfbd26722585049ad98c77f81e4
